body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f0f2f5;
    margin: 0;
    padding-top: 60px
}

.navbar {
    background-color: #a2aa93 !important;
    z-index: 1000
}

.navbar-brand,
.nav-link,
.butn {
    color: #fcfcfc !important
}

.navbar-nav {
    margin-left: auto
}

#profile-photo {
    width: 30px;
    border-radius: 50%
}

.butn {
    padding-top: 15px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff
}

.container {
    width: 70%;
    font-size: 14px
}

.title {
    display: flex;
    align-self: flex-start;
    justify-self: flex-start
}

hr {
    height: 1%
}

.flex {
    display: flex;
    align-content: flex-start
}

.flex-start {
    display: flex;
    align-content: flex-start
}

#rating {
    margin-top: -10px
}

#name {
    display: flex;
    justify-content: flex-start
}

img {
    width: 90%
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr) 1fr 4fr repeat(2, 1fr);
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-column-gap: 1.5%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / .1);
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px
}

.div1 {
    grid-area: 2 / 1 / 4 / 3
}

.div2 {
    grid-area: 1 / 3 / 2 / 5
}

.div3 {
    grid-area: 2 / 3 / 3 / 4
}

.div4 {
    grid-area: 3 / 3 / 4 / 4
}

.div5 {
    grid-area: 4 / 3 / 5 / 5
}

.div6 {
    grid-area: 1 / 5 / 2 / 7
}

.div7 {
    grid-area: 4 / 5 / 5 / 7
}

.more-details {
    display: block;
    margin-top: 20px;
    color: #a2aa93;
    text-decoration: none
}

.more-details:hover {
    text-decoration: underline
}

@media (max-width:1200px) {
    .container {
        width: 90%
    }
}

@media (max-width:992px) {
    .parent {
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7 {
        grid-area: auto
    }

    img {
        width: 100%
    }
}

@media (max-width:768px) {
    .container {
        width: 100%
    }

    .parent {
        padding: 15px
    }

    button {
        padding: 10px;
        font-size: 14px
    }
}

@media (max-width:576px) {
    .parent {
        padding: 10px
    }

    .more-details {
        font-size: 14px
    }
}