#body {
    width: 100%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal
}

.back {
    background-image: url(../imges/sub-images/options-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16/9
}

#img {
    background-image: url(../imges/sub-images/profile-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 19/9
}

.hr {
    color: #000;
    margin: .3%
}

.footer {
    padding: 1%;
    margin-top: 1%;
    width: 100%;
    height: 50px;
    background-color: #a2aa93
}

.copy {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: small
}

.center-contaner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%
}

.type-contaner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
    background-color: transparent !important;
    aspect-ratio: 4/5
}

.type-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    gap: 10%;
    background-color: #a19e9f;
    box-shadow: #000;
    padding: 15% 10% 25%;
    opacity: 70%;
    border-radius: 10px;
    color: #fff
}

.arrow2,
.arrow,
.arrow2 form,
.arrow form {
    width: 70%;
    display: flex;
    justify-content: center
}

.arrow2 form .more,
.arrow form .more {
    padding: 0% 100% 0%
}

.type-cards div {
    padding: 1%;
    font-size: large;
    color: #fff
}

.type-cards button {
    opacity: 100%;
    color: #fffefe;
    font-size: x-large
}

.type-cards .more {
    opacity: 60%;
    color: #000;
    font-size: large;
    border-radius: 16px
}

.type-cards button:hover {
    opacity: 150%;
    transition: 0.5s
}

.type-cards div {
    margin: 3%;
    font-size: x-large
}

.none h5 {
    position: absolute;
    top: 40%;
    left: 40%
}

.arrow-img {
    height: 100%;
    width: 30%;
    justify-self: center;
    background: transparent !important
}

.main-link a {
    color: #fdfcfc;
    text-decoration: none;
    text-align: start;
    width: 150%;
    display: flex;
    justify-self: center;
    align-self: center
}

.back_to_top {
    display: flex;
    justify-content: center;
    padding-top: 1%
}

#back {
    text-decoration: none;
    color: #a2aa93
}

.contact-section {
    color: aliceblue;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3%;
    width: 100%;
    height: 100%
}

.some-posts {
    background-color: #fff9f9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130vh
}

.contrast {
    border-radius: 16px;
    padding: 2%;
    border: 3px solid snow;
    background-color: #f5f5f5
}

.some-posts div a,
.some-posts div button,
.some-posts div {
    color: aliceblue
}

.some-posts div button {
    width: 125%
}

.some-posts-contaner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    font-size: x-large;
    padding: 0% 0% 3%
}

.some-posts-contaner div {
    padding: 2% 1% 1%
}

.some-posts-text {
    color: #000000 !important
}

.some-posts {
    padding: 0% 5% 1%;
    justify-self: center;
    align-self: center
}

.center-posts {
    display: flex;
    justify-content: center
}

@media (max-width:800px) {
    .some-posts-contaner {
        justify-content: center;
        padding-top: 4%
    }

    .row {
        flex-direction: column
    }
    .back {
        width: 100%;
        aspect-ratio: 9/16
    }
    .type-cards form .btn {
        padding-right: 40%;
        padding-left: 40%;
        font-size: large;
    }
    .type-cards {
        margin: 1%;
        padding: 2%;
        width: 80%;
        font-size: large;
    }

    #img {
        background-image: url(../imges/phone.webp);
        aspect-ratio: 9/17;
        width: 100%
    }
    .back{
        background-image: url("../imges/phone_options.webp");
    }
    .some-posts {
        width: 100%;
        height: auto;
        background-repeat: repeat-x
    }

    .some-posts p,
    .some-posts div,
    .some-posts button {
        font-size: small
    }

    .some-posts-text {
        color: #000000 !important;
        width: fit-content;
        margin-right: 3%;
        margin-left: 4%
    }

    .some-posts-btn .some-posts-btn {
        padding: 1%
    }

    .card-body {
        width: 100%;
        height: 0%;
        font-size: small
    }

    .card-body p,
    .card-body h5 {
        text-align: center
    }

    .card-body a {
        margin-left: 20%
    }
}

@media (max-width:1024px) {
    .type-cards div {
        font-size: medium
    }
}