<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>body{background-color:#f4f7f6;font-family:'Arial',sans-serif}.people-list{width:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;padding:20px}.people-list .chat-list{width:100%;max-width:600px;margin:0 auto;padding:0}.people-list .chat-list li{list-style:none;background-color:#fff;margin:10px 0;padding:15px;border-radius:10px;box-shadow:0 2px 5px rgb(0 0 0 / .1);display:flex;align-items:center;transition:transform 0.2s,box-shadow 0.2s}.people-list .chat-list li:hover{transform:translateY(-5px);box-shadow:0 4px 10px rgb(0 0 0 / .2)}.people-list .chat-list img{width:60px;aspect-ratio: 1 !important;border-radius:50%;margin-right:15px}.people-list .chat-list .name{font-size:18px;font-weight:700;color:#333}.people-list .chat-list button{background:none;border:none;cursor:pointer;display:flex;align-items:center;width:100%;text-align:left}.stat{display:flex;width:100%;font-size:large;flex-direction:row-reverse}</style>
</head>
<body>
<div class="people-list">
<ul class="list-unstyled chat-list mt-2 mb-0">
<% accounts.forEach((account) => { %>
<form action="/chat" method="post" class="form">
<li class="clearfix">
<input type="hidden" name="receiver_id" value="<%= account.id %>">
<input type="hidden" name="sender_id" value="<%= id %>">
<button type="submit">
<img src="data:image/jpeg;base64,<%= account.logo_image[0] %>" alt="avatar">
<div class="about">
<div class="name"><%= account.name %></div>
</div>
<div class="stat">
<% if (account.messages.some(message => !message.read_status)) { %>
<h6 class="h6" style="color:red;">new message</h6>
<% } %>
</div>
</button>
</li>
</form>
<% }) %>
</ul>
</div>
</body>
</html>
