<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShureArchitects</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/style/home.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      text-align: center;
      margin-top: 50px;
    }
    .img img {
      max-width: 100%;
      height: auto;
    }
    h1 {
      font-size: 6vw; /* Responsive font size */
    }
    p.lead {
      font-size: 1.5vw; /* Responsive font size */
    }
    .btn {
      margin: 10px;
      font-size: 1.5vw; /* Responsive font size */
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 8vw;
      }
      p.lead {
        font-size: 1.5vw;
      }
      .btn {
        font-size: 2vw;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="img">
          <img src="public/imges/logo.png" id="logo" alt="ShureArchitects Logo"> 
        </div>
        <h1 class="display-3">ShureArchitects</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>
  </div>
</body>
</html>
