<section>
    <style>
.navbar-brand {
  margin-right: 20px; /* Adjust the value as needed */
}
.navbar-nav {
  margin-left: auto; /* Pushes the nav links to the right */
}
    </style>
    <nav class="navbar navbar-expand-lg bg-body-tertiary background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/profile">ShureArchitects</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="/list_2">افراد</a>
              <a class="nav-link" href="/list_1">مكاتب هندسية</a>
              <a class="nav-link" href="/list">مقاولات</a>
            </div>
          </div>
        </div>
      </nav>
</section>
