<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<title>DASH</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../public/imges/logo.png">
</head>
<style>.container-fluid {
background-color: transparent !important;
}

.navbar-brand {
color: #fcfcfc
}

.navbar {
background-color: transparent !important
}

.navbar-nav {
margin-left: auto
}

#profile-photo {
width: 30px;
border-radius: 50%
}

.nav-link {
display: flex;
align-items: center;
align-content: center;
color: #fcfcfc
}

.butn {
padding-top: 15px;
background: none;
border: none;
outline: none;
box-shadow: none;
color: #fff
}

</style>
<body>
<section>
<nav class="navbar navbar-expand-lg bg-transparent">
<div class="container-fluid">
<a class="navbar-brand" href="/">DASH</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
  <div class="link">
      <form action="#cards">
          <button class="butn" name="upload_type" value="engeneering" onclick="collapseNavbar()">مكاتب هندسية</button>
      </form>
  </div>
  <div class="link">
      <form action="#cards">
          <button class="butn" name="upload_type" value="contractor" onclick="collapseNavbar()">مقاولات</button>
      </form>
  </div>
  <div class="link">
      <form action="#cards">
          <button class="butn" name="upload_type" value="freelancer" onclick="collapseNavbar()">افراد</button>
      </form>
  </div>
  <form action="/login" method="get">
      <button type="submit" class="butn btn btn-secondary" onclick="collapseNavbar()">تسجيل دخول</button>
  </form>
  <% if(!locals.is_user){ %>
  <form action="/register" method="get">
      <button type="submit" class="butn btn btn-secondary" onclick="collapseNavbar()">أنشاء حساب جديد</button>
  </form>
  <% } else { %>
  <form action="/account/type/<%=id%>" method="get">
      <button type="submit" class="butn btn btn-secondary" onclick="collapseNavbar()">الصفحة الشخصية</button>
  </form>
  <% } %>
</div>
</div>
</div>
</nav>

<script>
function collapseNavbar() {
const navbarCollapse = document.getElementById('navbarNavAltMarkup');
const bsCollapse = new bootstrap.Collapse(navbarCollapse, {
toggle: false
});
bsCollapse.hide();
}
</script>

</section>

</body>
</html>
