<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShureArchitects</title>
  <link rel="stylesheet" href="../public/style/profile.css">
</head>

<body id="body">
  <section id="img" class="parent">
    <%- include('nav'); %>
    <div class="div1">
      <div>
      </div>
  </section>
  <hr class="hr">
  <section>
    <div class="back">
      <div class="container-fluid">
        <div class="row">
          <div class="col col col-lg-4">
            <div class="center-contaner">
              <div class="type-contaner">
                <div class="type-cards">
                  <div class="main-link"> <a href="/list">مكاتب هندسية</a></div>
                  <div class="link"> <form action="/uploaded" method="post"> <style> </style> <button name="upload_type" value="engeneering">المشاريع المطروحة</button> </form></div>
                  <div class="arrow"> <form action="/uploaded" method="post"> <button class="btn btn-info" name="upload_type" value="engeneering">المزيد</button> </form> </div>
                  <% if(locals.type==="user" || locals.type==="admin" ){ %>
                  <div class="link2"><form action="/upload_post" method="post"><button name="upload_type" value="engeneering">اعرض مشروعك</button></form></div>
                  <div class="arrow2"> <form action="/upload_post" method="post"> <button class="btn btn-info" name="upload_type" value="engeneering">المزيد</button> </form> </div>
                  <% }else{ %>
                  <div class="link2"><form action="/login" method="get"><button name="upload_type" value="engeneering">اعرض مشروعك</button></form></div>
                  <div class="arrow2"> <form action="/login" method="get"> <button class="btn btn-info" name="upload_type" value="engeneering">المزيد</button> </form> </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="col col col-lg-4">
            <div class="center-contaner">
              <div class="type-contaner">
                <div class="type-cards">
                  <div class="main-link"> <a href="/list">مقاول</a></div>
                  <div class="link"> <form action="/uploaded" method="post"> <style> button { background: none; border: none; outline: none; box-shadow: none; } </style> <button name="upload_type" value="contractor">المشاريع المطروحة</button> </form></div>
                  <div class="arrow"> <form action="/uploaded" method="post"> <button class="btn btn-info" name="upload_type" value="contractor">المزيد</button> </form> </div>
                  <% if(locals.type==="user" || locals.type==="admin" ){ %>
                  <div class="link2"><form action="/upload_post" method="post"><button name="upload_type" value="contractor">اعرض مشروعك</button></form></div>
                  <div class="arrow2"> <form action="/upload_post" method="post"> <button class="btn btn-info"  name="upload_type" value="contractor">المزيد</button> </form> </div>
                  <% }else{ %>
                  <div class="link2"><form action="/login" method="get"><button name="upload_type" value="contractor">اعرض مشروعك</button></form></div>
                  <div class="arrow2"> <form action="/login" method="get"> <button class="btn btn-info" name="upload_type" value="contractor">المزيد</button> </form> </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="col col col-lg-4">
            <div class="center-contaner">
              <div class="type-contaner">
                <div class="type-cards">
                  <div class="main-link"> <a href="/list">افراد|freelancer</a></div>
                  <div class="link"> <form action="/uploaded" method="post"> <style> button { background: none; border: none; outline: none; box-shadow: none; } </style> <button name="upload_type" value="freelancer">المشاريع المطروحة</button> </form></div>
                  <div class="arrow"> <form action="/uploaded" method="post"> <button class="btn btn-info" name="upload_type" value="freelancer">المزيد</button> </form> </div>
                  <% if(locals.type==="user" || locals.type==="admin" ){ %>
                  <div class="link2"><form action="/upload_post" method="post"><button name="upload_type" value="freelancer">اعرض مشروعك</button></form></div>
                  <div class="arrow2"> <form action="/upload_post" method="post"> <button class="btn btn-info" name="upload_type" value="freelancer">المزيد</button> </form> </div>
                  <% }else{ %>
                  <div class="link2"><form action="/login" method="get"><button name="upload_type" value="freelancer">اعرض مشروعك</button></form></div>
                  <div class="arrow2"> <form action="/login" method="get"> <button class="btn btn-info" name="upload_type" value="freelancer">المزيد</button> </form> </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-section">
  <%- include('contact'); %>
  <div class="back_to_top"><a href="#"><i class="fa-solid fa-arrow-up-long fa-2xl" style="color: #fafafa;" id="arrow-up"></i></a></div>
  <div class="back_to_top"><a href="#" id="back" ><h3 > back to top </h3></a></div>
  <footer>
    <div class="footer">
      <h1 class="copy">
        all copyright for ShureArchitects
        year
        <% if(locals.date){ %>
        <%=date %>
        <% } %>
        ©️
      </h1>
    </div>
  </footer>
</section>
  <script src="https://kit.fontawesome.com/6aa647ab54.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>