<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
</style>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">نموذج تسجيل دخول</h2>
        <h3 style="color: red;">
            <% if (locals.mseeg) { %>
                <%= mseeg %>
            <% } %>
        </h3>
        <form action="/register" method="POST" enctype="multipart/form-data" onsubmit="return validatePasswords()">
            <div class="form-group">
                <label for="name">اسم الحساب</label>
                <input type="text" class="form-control" name="name" placeholder="ادخل اسم الحساب">
            </div>
            <div class="form-group">
                <label for="username">البريد الاكتروني</label>
                <input type="text" class="form-control" name="username" placeholder="ادخل البريد الاكروني للحساب">
            </div>
            <div class="form-group">
                <label for="password">كلمة السر</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="ادخل كلمة السر">
            </div>
            <div class="form-group">
                <label for="confirm_password">تأكيد كلمة السر</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="ادخل تاكيد كلمة السر">
            </div>
            <div class="form-group">
                <label for="logo_image">شعار الحساب</label>
                <input type="file" class="form-control-file" name="logo_image" accept=".jpg, .jpeg, .png, .gif">
            </div>
            <div class="form-group">
                <label for="location">الموقع</label>
                <input type="text" class="form-control" name="location" placeholder="ادخل الموقع">
            </div>
            <div class="form-group">
                <label for="phone_number">رقم الهاتف</label>
                <input type="text" class="form-control" name="phone_number" placeholder="ادخل رقم الهاتف">
            </div>
            <div class="form-group">
                <label for="email">البريد الاكتروني للتواصل مع العملاء</label>
                <input type="email" class="form-control" name="email" placeholder="ادخل البريد الاكتروني">
            </div>
            <div class="form-group">
                <label for="website_url">رابط الموقع الاكتروني</label>
                <input type="url" class="form-control" name="website_url" placeholder="ادخل رابط الموقع الاكتروني">
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <label for="description">الوصف الخاص بك </label>
                <textarea class="form-control" name="description" rows="3" placeholder="ادخل الوصف"></textarea>
            </div>
            <div class="form-group">
                <label for="account_type">نوع الحساب</label>
                <select class="form-control" name="account_type">
                    <option value="company">مكتب هندسي</option>
                    <option value="user">مستخدم</option>
                    <option value="contractor">مقاول</option>
                    <option value="freelancer">عمل حر</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">تسجيل حساب </button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function validatePasswords() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            if (password !== confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
